*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.imgbkg{
    width: 100%;
}
.titulo{
    margin: 4vh auto 3vh auto;
    width: max-content;
    font-size: 3.8em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #ff9100;
    text-shadow: 2px 2px 2px #2b1d00d5;   
}
.subtitulo{
    font-family: 'Permanent Marker', cursive;
    margin: 70px;
    font-size: 4vh;
    text-align: center;
    text-shadow: 1px 1px 1px #2b1d00ab;
}
.container{    
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: 100%;
    border-radius: 16px; 
    display: grid;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: red;
}
.c-video1, .c-video2, .c-video3{       
    display: flex;
    background-color: #ff7b00;
    justify-content: center;
    align-items: center;    
    margin-right: 10px;
    border-radius: 16px;
}
.list_itens{
    margin-top: 12vh;
    margin-bottom: 12vh;
    align-items: center;
    text-align: center;         
}
li{
    font-weight: lighter;
    color: #fff;
    font-size: 1.6em;
    display: inline-block;    
    background-color: #ff7b00;
    padding: 8px 20px;
    font-family: 'Permanent Marker', cursive;
    margin-right: 6px;
    border-radius: 8px; 
}
.imgq{
    border-radius: 16px;
    margin: 10px 10px 15px auto;
    width: 450px;
    min-width: 450px;
}
