*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.imgbkg{
    width: 100%;
}
.titulo{
    margin: 20px;
    font-size: 7vh;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #e07f00;
    text-shadow: 2px 2px 2px #2b1d00d5;   
}
.subtitulo{
    font-family: 'Permanent Marker', cursive;
    margin: 30px;
    font-size: 4vh;
    text-align: center;
}

.container{    
    display: flex;
    align-items: center;
}
.info{
    background-color: #f7e5ce;
    border-radius: 13px;
    
    padding: 110px 15px;
    width: 70%;
    min-width: 70%;    
    height: max-content;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.imgq{
    border-radius: 13px;
    margin: 10px 10px 10px auto;
    width: 450px;
    min-width: 450px;
}
